/**
*
* {{ properCase name }} stories
*
*/

import React from 'react';
import { storiesOf } from '@storybook/react'; // check docs here https://storybook.js.org/basics/guide-react/
import { withInfo } from '@storybook/addon-info'; // check docs here https://www.npmjs.com/package/@storybook/addon-info#basic-usage
import { withKnobs, text, boolean } from '@storybook/addon-knobs'; // check docs here https://www.npmjs.com/package/@storybook/addon-knobs#available-knobs
import {{ properCase name }} from ".";

const stories = storiesOf('{{ properCase name }}', module).addDecorator(withInfo).addDecorator(withKnobs);
/**
 * Add Your Stories here
 * Example
  stories.add('Solid', () => {
    const textField = text('Label', 'Test Label'); // knobs text field example
    const boolField = boolean('Loading', false); // knobs boolen field example
    return <{{properCase name}} textField={textField} boolField={boolField} />;
  })
 */
