.padding-20 {
  padding: 20px;
}
.padding-left20 {
  padding-left: 20px;
}
.margin-bottom20 {
  margin-bottom: 20px;
}
.margin-bottom30 {
  margin-bottom: 30px;
}
.layout {
  background: #fff;
  font-family: 'merriRegular';
}
.main {
  padding: 20px 3%;
  &__title {
    margin-bottom: 20px;
    font-family: 'merriBold';
    font-size: 24px;
    line-height: 29px;
  }
}
.console-tabs {
  .ant-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    .ant-col-6 {
      color: black;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #c2c2c2;
      &:hover {
        box-shadow: 1px 1px 2px 1px #c2c2c2;
      }
    }
  }
}
//Player profile
.page {
  &__info {
    min-height: 86vh;
    padding: 20px;
    // border: 1px solid #ececec;
    box-shadow: 0 0 10px 0 rgba(141, 177, 213, 0.19);
    .addSection {
      display: flex;
      align-items: center;
    }
    textarea {
      border: 1px solid #d9d9d9;
      resize: none;
    }
  }
  .profile__list {
    box-shadow: 0 0 10px 0 rgba(141, 177, 213, 0.19);
    ul {
      list-style-type: none;
    }
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
      svg {
        cursor: pointer;
        &:hover {
          color: red;
        }
      }
    }
  }
  textarea {
    border-radius: 4px;
    padding: 5px;
    &:hover {
      border-color: #40a9ff;
    }
    &:focus {
      box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    }
  }
}
//Polls table
.pollTable {
  .ant-table-pagination.ant-pagination {
    display: none;
  }

  .ant-form-item-label {
    display: flex;
    justify-content: flex-start;
    min-width: 150px;
    text-align: left !important;
  }
}
.ant-form-item-label {
  text-align: left;
  label {
    color: rgba(0, 0, 0, 0.65);
  }
}

.ant-btn i {
  vertical-align: middle;
}

.ant-table-body tr.drop-over-downward td {
  border-bottom: 2px dashed #1890ff;
}

.ant-table-body tr.drop-over-upward td {
  border-top: 2px dashed #1890ff;
}

.score-table .ant-table-body table {
  // border-collapse: collapse;
  // tr td {
  //   padding-top: 0.5rem;
  //   padding-bottom: 0.5rem;
  // }
  border-collapse: separate;
  border-spacing: 0 1em;
  .ant-select-selection--multiple:before,
  .ant-select-selection--multiple:after {
    display: inline;
  }
}

.score-table .ant-table-row {
  box-shadow: 1px 1px 4px #c2c2c2;
}

.ant-modal {
  font-family: 'merriRegular';
}
