// font face
@font-face {
  font-family: 'robotoRegular';
  src: url('../fonts/roboto/robotoRegular/robotoRegular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/roboto/robotoRegular/robotoRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto/robotoRegular/robotoRegular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto/robotoRegular/robotoRegular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/roboto/robotoRegular/robotoRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto/robotoRegular/robotoRegular.svg#robotoRegular') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'robotoBold';
  src: url('../fonts/roboto/robotoBold/robotoBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/roboto/robotoBold/robotoBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto/robotoBold/robotoBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto/robotoBold/robotoBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/roboto/robotoBold/robotoBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto/robotoBold/robotoBold.svg#robotoBold') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'robotoMedium';
  src: url('../fonts/roboto/robotoMedium/robotoMedium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/roboto/robotoMedium/robotoMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto/robotoMedium/robotoMedium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto/robotoMedium/robotoMedium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/roboto/robotoMedium/robotoMedium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto/robotoMedium/robotoMedium.svg#robotoMedium') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'merriBold';
  src: url('../fonts/merriweather/merriweatherBold/merriweatherBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/merriweather/merriweatherBold/merriweatherBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather/merriweatherBold/merriweatherBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather/merriweatherBold/merriweatherBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/merriweather/merriweatherBold/merriweatherBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather/merriweatherBold/merriweatherBold.svg#merriBold') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'merriRegular';
  src: url('../fonts/merriweather/merriweatherRegular/merriweatherRegular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/merriweather/merriweatherRegular/merriweatherRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather/merriweatherRegular/merriweatherRegular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather/merriweatherRegular/merriweatherRegular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/merriweather/merriweatherRegular/merriweatherRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather/merriweatherRegular/merriweatherRegular.svg#merriRegular') format('svg'); /* Legacy iOS */
}
