.console-tabs {
  .ant-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    .ant-col-6 {
      color: black;
      height: 24vh;
      background: #f8f8f8;
      cursor: pointer;
      // width: 240px;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #c2c2c2;
    }
  }
}
