.home_screen {
  h1 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .mar-10 {
    margin-bottom: 10px;
  }
  .mar-20 {
    margin-bottom: 20px;
  }
  .match_layout {
    display: flex;
    width: 100%;
    .match_layout_left {
      width: 50%;
      h3 {
        font-size: 18px;
        margin-bottom: 20px;
      }
      .ant-col-sm-offset-4 {
        margin-left: 0%;
      }
      .ant-btn-dashed {
        border-style: solid;
      }
      .homeScreen_table {
        .ant-row {
          .ant-col-6 {
            span {
              padding: 0 10px;
            }
          }
        }
      }
    }
    .match_layout_Right {
      width: 48%;
      padding: 0 20px;
      .ant-col-sm-offset-4 {
        margin-left: 0%;
      }
      h3 {
        font-size: 18px;
        margin-bottom: 20px;
      }
      .ant-btn-dashed {
        border-style: solid;
      }
      .homeScreen_table {
        .ant-row {
          .ant-col-6 {
            span {
              padding: 0 10px;
            }
          }
        }
      }
    }
  }
}
.ant-divider,
.ant-divider-vertical {
  height: 23.9em;
  background: #000;
}
/* home screen mobile */
.homeScreen_mobile {
  .ant-btn-dashed {
    border-style: solid;
  }
  .ant-col-sm-offset-4 {
    margin-left: 0%;
  }
  .homeScreen_table {
    .ant-row {
      .ant-col-6 {
        span {
          padding: 0 10px;
        }
      }
    }
  }
}
