.ScorePanel {
  margin: 0 10% 2%;
  span {
    &.priorityNumber {
      margin: 0px 6px;
    }
  }
  &.scoreHeader {
    font-family:"robotoMedium";
    font-size: 20px;
  }
}
.addField {
  margin-left: 10%;
  .ant-col-sm-offset-4 {
    margin-left: 0px !important;
  }
}
.save {
  .ant-form-item-control-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 87% !important;
    &.ant-col-sm-offset-4 {
      margin-left: 0% !important;
    }
  }
}
